/* Set the font family and size for the entire page */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
*{
  margin: 0;
  padding: 0;
}
/*navbar*/
#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand{
  padding: 30px;

}
.navbar-nav li{
  padding: 0 10px;
}
.navbar-nav li a{
float: right;
text-align: right;
}
#nav-bar ul li a:hover{
  color: #007bff;
}
.navbar{
  background: #fff;
}
.navbar-toggler{
  border: none !important;
}
.nav-link{
  color: #555;
  font-weight: 600;
  font-size: 18px;
}
/* slider */
#slider {
  width: 100%;
}
.carousel-caption{
  top:50%;
  bottom: initial !important;
}
.carousel-caption h5{
font-size: 48px;
color: #fff;
}
/* IDEA: about */
#about{
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 1.5; /* Set the line height to a fixed value */
    text-align: justify; /* Justify the text to ensure that it's evenly distributed across the width of the paragraph */
  /* Adjust the font size as needed */
    hyphens: auto;
}
#about .btn{
  margin-top: 20px;
  margin-bottom: 30px;
}
.about-content{
  padding-top: 20px;
}
.skills-bar{

}
.skills-bar p{
  margin-bottom: 6px;
  font-weight: 600
}
.progress-bar{
  border-radius: 16px;
}
.progress{
  border-radius: 16px !important;
  margin-bottom: 20px;
}
header {
  background-color: #333;
  padding: 20px;
}
img{
  width: 100%;
}
/* Set the font color and size for the page header text */
header h1 {
  color: #fff;
  font-size: 32px;
  margin: 0;
}

/* Set the background color and padding for the page footer */
footer {
  background-color: #333;
  padding: 20px;
}

/* Set the font color and size for the page footer text */
footer p {
  color: #fff;
  font-size: 16px;
  margin: 0;
}
.bg-image{
  background-image: url('image/t2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.pra{
padding-bottom: 250px;
}
*{
  direction: rtl;
}
